<footer id="footer" class="footer accent-background">
      <div class="container">
        <div class="copyright text-center">
          <p>
            © <span>Copyright</span> <strong class="px-1 sitename">JY BLOG</strong>
            <span>All Rights Reserved</span>
          </p>
        </div>
        <div class="social-links d-flex justify-content-center">
          <a href="https://github.com/6-n0kim" target="_blank"><i class="bi bi-github"></i></a>
        </div>
      </div>
    </footer>
